/* ----- FOR GENERAL ELEMENTS ----- */

body {
    box-sizing: border-box;
    justify-content:space-between;
    font-family: 'Fredoka', sans-serif;
    background-color: azure;
}

*,
:after,
:before {
    padding: 0;
    margin: 0;
}

/* ----- HEADER ----- */

.container {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container {
    margin-bottom: 100px;
}

header .container a {
    margin: 0 auto;
}

/* ----- MAIN ----- */

main {
    margin-bottom: 100px;
}

main .container a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
}

main .container a:hover {
    background-color: aqua;
}

main .container ol li {
    list-style: none;
    margin-bottom: 15px;
}


/* ----- FOOTER ----- */
